@model IEnumerable<SimplySecureApi.Data.Models.Domain.Entity.ModuleEvent>

@{
    ViewData["Title"] = "Module Events";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<p>Current Server Time: @System.DateTime.Now.ToString()</p>
<table class="table">
    <thead>
        <tr style="background-color: #343A40; color: #fff;">
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="border border-dark">
            <td>
                @Html.DisplayFor(modelItem => item.StateDisplayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
        </tr>
}
    </tbody>
</table>
